{% include 'header.html'%}
{% block title%}<title>portfolio</title>{%endblock%}
{%block style%}

{% endblock%}
{%block content%}
<main>

<div class="py-5 px-5 ">
<div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
         <div class="col">
          <div class="card shadow-sm">
           <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="./static/images/blog.jpg" role="img" aria-label="Placeholder: Thumbnail" >
            <div class="card-body">
              <p class="card-text"> I created this website recently with python Flask and used sqlite database. In this website anybody can see the blogs but can d the comment after registration. you can run this website by downloading from github </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <p><a class="btn btn-lg btn-primary" href="https://github.com/Abdulqadeer4122/Blog_website">View on github</a></p>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="./static/images/cofee.jpg" role="img" aria-label="Placeholder: Thumbnail" >
            <div class="card-body">
              <p class="card-text">I created this website recently with python Flask and used csv file. I added some data in this file and used this data to display. We can see cafe detail easily. Some important things that I cover in this project are csv file reading. </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <p><a class="btn btn-lg btn-primary" href="https://github.com/Abdulqadeer4122/Coffee-collection-web">View on github</a></p>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="./static/images/passwrd.jpg" role="img" aria-label="Placeholder: Thumbnail" >
            <div class="card-body">
              <p class="card-text">I made a password manager by using python and Tkinter through which you can save your different passwords and create new creative passwrd that can never be hacked.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <p><a class="btn btn-lg btn-primary" href="https://github.com/Abdulqadeer4122/Password-Manager">View on github</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="./static/images/snake.jpg" role="img" aria-label="Placeholder: Thumbnail" >
            <div class="card-body">
              <p class="card-text">This is a snake game that is a desktop application. I made it with python and Turtle module. In this game there is a concept of saving the high score for future player </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <p><a class="btn btn-lg btn-primary" href="https://github.com/Abdulqadeer4122/Snake_Game">View on github </a></p>

                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="./static/images/bounce.jpg" role="img" aria-label="Placeholder: Thumbnail" >
            <div class="card-body">
              <p class="card-text">This is a Bounce Ball game in which two players can play at one time and from both the winner will be who will get more scores . I build it with python and Turtle Module </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <p><a class="btn btn-lg btn-primary" href="https://github.com/Abdulqadeer4122/Bounce-Ball-Game.git">View on github</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>



            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </main>
{%endblock%}
{%include 'footer.html'%}